.property {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 2fr 10fr;

    padding: 4px 0;
    /* border-bottom: 1px solid #ccc; */

    &:last-child {
        border-bottom: none;
    }

    .label {
        font-weight: bold;
        text-align: end;
        
    }
    .value {

    }
}