.property {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 9fr;

    padding: 4px 0;
    border-bottom: 1px solid #ccc;

    .label {
        font-weight: bold;
        text-align: start;
        
    }
    .property {

    }
}