
.status-tag {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10000px;
  
    display: inline-block;
  
    padding: 0.25rem 0.75rem;
    font-size: small;
    text-transform: capitalize;
  
    &.status-tag-created {
      background-color: rgb(44, 209, 44);
      color: rgb(15, 58, 15);
    }
  
    &.status-tag-ordered {
      background-color: rgb(218, 214, 30);
      color: rgb(51, 50, 14);
    }
  
    &.status-tag-delivered {
      background-color: rgb(196, 196, 196);
    }
  }